---
import MainLayout from "../../layouts/MainLayout.astro";

const title = "Échauffement";
const description = "Échauffez-vous avant de commencer à dessiner";
---

<MainLayout title={title}>
  <h1>{title}</h1>
  <p>{description}</p>
  
  <div id="sketch-container" style="margin-top: 2rem;"></div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.min.js"></script>
  <script src="/scripts/sketches/warmup.js" client:load></script>
</MainLayout>
