---
import MainLayout from "../../layouts/MainLayout.astro";

const title = "Échauffement";
const description = "Échauffez-vous avant de commencer à dessiner";
---

<MainLayout title={title}>
  <h1>{title}</h1>
  <p>{description}</p>
  
  <div id="sketch-container" style="margin-top: 2rem;"></div>
  
  <script client:load>
    import p5 from 'p5';
    new p5((p) => {
      p.setup = () => {
        p.createCanvas(600, 400);
      };
      
      p.draw = () => {
        p.background(240);
        
        if (p.mouseIsPressed) {
          p.stroke(0);
          p.strokeWeight(5);
          p.line(p.pmouseX, p.pmouseY, p.mouseX, p.mouseY);
        }
      };
    }, 'sketch-container');
  </script>
</MainLayout>
