---
import MainLayout from "../../layouts/MainLayout.astro";

const title = "Échauffement";
const description = "Échauffez-vous avant de commencer à dessiner";
---

<MainLayout title={title}>
  <h1>{title}</h1>
  <p>{description}</p>
</MainLayout>
